{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Rates List
{% endblock title %}

{% block content %}
    <div class="container col-2">
        <h1 style="color: blue">Rates</h1>
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rate-create' %}" role="button">Create new rates</a>
        {% endif %}
    </div>
    <br>
    <div>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Фільтр =>
        </button>
        <td><a class="btn btn-danger" href="{% url 'rate-list' %}">Оновити</a></td>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Фильтр</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="get" class="">
                    <button type="submit" class="btn btn-success">Відправити</button>
                    <button type="reset" class="btn btn-danger">Очистити</button>
                    <br>
                    <br>
                    {{ filter.form|crispy }}
                    <button type="submit" class="btn btn-success">Відправити</button>
                    <button type="reset" class="btn btn-danger">Очистити</button>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex bd-highlight">
        <div class="p-2 m-2 bd-highlight col-12">
            <br>
            <div class="row col-12">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col"><b>#</b></th>
                        <th scope="col"><b>Валюта:</b></th>
                        <th scope="col"><b>Покупка:</b></th>
                        <th scope="col"><b>Продаж:</b></th>
                        <th scope="col"><b>Банк:</b></th>
                        <th scope="col"><b>Створено:</b></th>
                        <th scope="col"></th>
                        {% if user.is_superuser %}
                            <th scope="col"></th>
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    {% for rate in page_obj %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ rate.get_currency_display }}</td>
                            <td>{{ rate.buy }}</td>
                            <td>{{ rate.sale }}</td>
                            <td>{{ rate.source }}</td>
                            <td>{{ rate.created }}</td>
                            <td><a class="btn btn-primary" href="{% url 'rate-detail' rate.id %}">Details</a></td>
                            {% if user.is_superuser %}
                                <td><a class="btn btn-warning" href="{% url 'rate-update' rate.id %}">Update</a></td>
                                <td><a class="btn btn-danger" href="{% url 'rate-delete' rate.id %}">Delete</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% include 'layouts/pagination.html' %}
        </div>
    </div>

{% endblock content %}
