{% extends 'layouts/base.html' %}

{% block title %}
    Rate Detail
{% endblock title %}

{% block content %}
    <div class="row col-8 ">
        <h4 style="color: blue">Rate {{ rate.id }}:</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"><b>#</b></th>
                <th scope="col"><b>currency:</b></th>
                <th scope="col"><b>sale:</b></th>
                <th scope="col"><b>buy:</b></th>
                <th scope="col"><b>source:</b></th>
                <th scope="col"><b>created:</b></th>
                {% if user.is_superuser %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.get_currency_display }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.source }}</td>
                <td>{{ rate.created }}</td>
                {% if user.is_superuser %}
                    <td><a class="btn btn-warning" href="{% url 'rate-update' rate.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'rate-delete' rate.id %}">Delete</a></td>
                {% endif %}
            </tr>
        </table>
    </div>
    <a class="btn btn-primary"
       href="javascript:history.back()">Back</a>

{% endblock content %}
