{% extends 'layouts/base.html' %}

{% block title %}
    Rate Detail
{% endblock title %}

{% block content %}
        <div class="main-box">
            <h4>Rate {{ rate.id }}:</h4>
            <table class="my-table">
                <tr>
                    <th><b>currency:</b></th>
                    <th><b>sell:</b></th>
                    <th><b>buy:</b></th>
                    <th><b>source:</b></th>
                    <th><b>created:</b></th>
                    {% if user.is_superuser %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ rate.get_currency_display }}</td>
                    <td>{{ rate.sell }}</td>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.source }}</td>
                    <td>{{ rate.created }}</td>
                    {% if user.is_superuser %}
                        <td><a href="{% url 'rate-update' rate.id %}">Update</a></td>
                        <td><a href="{% url 'rate-delete' rate.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>

{% endblock content %}
