{% extends 'layouts/base.html' %}

{% block title %}
    Rates List
{% endblock title %}

{% block content %}
    <div class="container col-2">
        <h1 style="color: blue">Rates</h1>
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'rate-create' %}" role="button">Create new rates</a>
        {% endif %}
    </div>
    <br>
    <div class="row col-12">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col"><b>#</b></th>
                <th scope="col"><b>currency:</b></th>
                <th scope="col"><b>sale:</b></th>
                <th scope="col"><b>buy:</b></th>
                <th scope="col"><b>source:</b></th>
                <th scope="col"><b>created:</b></th>
                <th scope="col"></th>
                {% if user.is_superuser %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            {% for rate in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ rate.get_currency_display }}</td>
                    <td>{{ rate.sale }}</td>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.source }}</td>
                    <td>{{ rate.created }}</td>
                    <td><a class="btn btn-primary" href="{% url 'rate-detail' rate.id %}">Details</a></td>
                    {% if user.is_superuser %}
                        <td><a class="btn btn-warning" href="{% url 'rate-update' rate.id %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'rate-delete' rate.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
