.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv

#prod_settings.py
#local_settings.py
#settings.py
passenger_wsgi.py
stderr.log
tmp/

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media


log/pay.log
log/debug_new.log

build
doc
home.rst
make.bat

doc-dev

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

.pytest_cache
.coverage
