    <header class="p-3 bg-dark text-white">
        <nav>
            <div class="row">
                <div class="col-md-8 left">
                    |
                    <a href="{% url 'index' %}">Главная</a>
                    |
                    <a href="{% url 'rate-list' %}">Rates</a>
                    |
                    <a href="{% url 'source-list' %}">Sources</a>
                    |
                    <a href="{% url 'contact-list' %}">Contacts</a>
                    |
                </div>
                <div class="col-md-4 right">
                    {% if not request.user.is_authenticated %}
                        |
                        Hi, Guest!
                        |
                        <a href="{% url 'login' %}">Логин</a>
                        |
                        <a href="{% url 'regist' %}">Регистрация</a>
                        |
                    {% else %}
                        Hi, {{ request.user.username }}!
                        <a href="{% url 'profile' %}">Profile</a>
                        |
                        <a href="{% url 'password_change' %}">Password Change</a>
                        |
                        {% if user.is_superuser %}
                        <a href="/admin" target="_blank">Admin Panel</a>
                            {% endif %}
                        |
                        <a href="{% url 'logout' %}">Logout</a>
                        |
                    {% endif %}

                </div>
            </div>
        </nav>
    </header>
