{% extends 'layouts/base.html' %}

{% block title %}
    Sources List
{% endblock title %}

{% block content %}
<div class="main-box">
    <h4>SOURCES:</h4>
    <a href="{% url 'source-create' %}">Create new source</a><br>
    <table class="my-table">
        <tr>
            <th><b>name:</b></th>
            <th><b>text:</b></th>
            <th><b>source_url:</b></th>
            <th><b>price:</b></th>
            <th></th>
            <th></th>
        </tr>
    {% for source in object_list %}
        <tr>
            <td>{{ source.name }}</td>
            <td>{{ source.text|safe }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.price }}</td>
            <td><a href="{% url 'source-detail' source.id %}">Details</a></td>
            <td><a href="{% url 'source-update' source.id %}">Update</a></td>
            <td><a href="{% url 'source-delete' source.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}

