<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grynevych Mykola</title>
</head>
<body>
    <div class="currency">
        <h1>CURRENCY:</h1>
    {% for r in rate %}
        <ul>
            <li><b>currency:</b> {{ r.currency }}</li>
            <li><b>sell:</b> {{ r.sell }}</li>
            <li><b>buy:</b> {{ r.buy }}</li>
            <li><b>source:</b> {{ r.source }}</li>
            <li><b>created:</b> {{ r.created }}</li>
        </ul>
            <hr>
    {% endfor %}
    </div>

    <br>

    <div class="contact_us">
        <h1>CONTACT US</h1>
    {% for c in contact_us %}
        <ul>
            <li><b>id:</b> {{ c.id }}</li>
            <li><b>subject:</b> {{ c.subject }}</li>
            <li><b>email_from:</b> {{ c.email_from }}</li>
            <li><b>message:</b> {{ c.message }}</li>
        </ul>
            <hr>
    {% endfor %}
    </div>
</body>
</html>