{% extends 'layouts/base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
<div class="main-box">
    <h4>Contact {{ contact.id }}:</h4>
    <table class="my-table">
        <tr>
            <th><b>id:</b></th>
            <th><b>subject:</b></th>
            <th><b>email_from:</b></th>
            <th><b>message:</b></th>
        </tr>
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.subject }}</td>
            <td>{{ contact.email_from }}</td>
            <td>{{ contact.message }}</td>
        </tr>
    </table>
</div>
{% endblock content %}
