{% extends 'layouts/base.html' %}

{% block title %}
    Delete Contact
{% endblock title %}

{% block content %}
    <div class="row col-12">
        <h4 style="color: blue">Do you really want to delete contact {{ contactus.name }} with
            id {{ contactus.id }}</h4>

        <form method="post">
            {% csrf_token %}
            <a class="btn btn-primary"
               href="javascript:history.back()">Back</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock content %}
