{% extends 'layouts/base.html' %}
{% block title %}Currency{% endblock %}
{% load static %}
{% block content %}

<div class="main-box">
    <h4>CONTACT US:</h4>
    <table class="my-table">
        <tr>
            <th><b>id:</b></th>
            <th><b>subject:</b></th>
            <th><b>email_from:</b></th>
            <th><b>message:</b></th>
        </tr>
    {% for c in contact_us %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.subject }}</td>
            <td>{{ c.email_from }}</td>
            <td>{{ c.message }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}
